name: Deploy Lambda

on:
  workflow_run:
    workflows: [Build and Push to ECR]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Update Lambda
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: datagrokr-intern-devops
          IMAGE_TAG: latest
        run: |
          aws lambda update-function-code --function-name EvalLambda --image-uri $REGISTRY/$REPOSITORY:$IMAGE_TAG

